* {
	padding: 0;
	margin: 0;
}

.box {
	width: 100%;
	padding-bottom: 100%;
}

.box div {
	float: left;
	width: 30%;
	padding-bottom: 30%;
	background-color: orange;
	border-radius: 20%;
	margin: 2.5% 0% 2.5% 2.5%;/*上右下左*/
}
